{% extends "base.html" %}
{% load static %}
{% block title %}Recipe List{% endblock %}
{% block body %}
    <h3>Recipes</h3>
    <article>
        {% for recipe in recipes %}
            <a href="{{recipe.get_absolute_url}}"><div><img src="{{recipe.images.first.image.url}}" alt="{{recipe.images.first.description}}" class="recipe-img"><p>{{recipe.name}}</p></div></a>
        {% empty %}
            <h3>Sorry, no recipes found.</h3>
        {% endfor %}
        <a href="{% url 'add' %}"><div><img src="{% static 'ledger/add.png' %}" class="recipe-img"><p>Add new recipe.</p></div></a>
    </article>
{% endblock %}