{% extends "base.html" %}
{% load static %}
{% block title %}Recipe List{% endblock %}
{% block body %}
    <h3>Recipes</h3>
    <article>
        {% if recipes %}
            {% for recipe in recipes %}
                <a href="{{recipe.get_absolute_url}}"><div><img src="{{recipe.images.first.image.url}}" alt="{{recipe.images.first.description}}" class="recipe-img"><p>{{recipe.name}}</p></div></a>
            {% endfor %}
        {% else %}
            <h3>Sorry, no recipes found.</h3>
        {% endif %}
    </article>
{% endblock %}