{% extends "base.html" %}
{% load static %}
{% block title %}{{ recipe.name }} Recipe{% endblock %}
{% block body %}
    <a href="{% url 'index' %}" class="nav-link">< Go back</a><h3>Recipe Details</h3>
    <h1>{{ recipe.name }}</h1>
    <p>by {{ recipe.author.name }}</p>
    <div id="recipe-info-container">
        <div id="recipe-gallery">
            {% if recipe.images %}
                <div>
                    <img src="{% if recipe.images.first.image.url %}{{ recipe.images.first.image.url }}{% else %}{% static 'ledger/images/empty.png' %}{% endif %}" alt="{{ recipe.images.first.description }}">
                </div>
                <div>
                    {% for image in recipe.images.all %}
                        <img src="{{ image.image.url }}" alt="{{ image.description }}">
                    {% endfor %}
                    <img src="{% static 'ledger/images/add.png' %}" alt="Add Image" id="add-image">
                </div>
            {% endif %}
        </div>
        <div>
            <table>
                {% if ingredients %}
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                    </tr>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.ingredient.name }}</td>
                            <td>
                                {% if ingredient.quantity %}
                                    {{ ingredient.quantity }}
                                {% else %}
                                    -----
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h3>Sorry, this recipe doesn't have ingredients yet.</h3>
                {% endif %}
            </table>
        </div>
    </div>
    <div id="modals-container">
        <div id="new-image-modal">
            <form action="{% url 'add_image' recipe.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" id="new-img" accept="image/*" name="image" hidden>
                <img src="" alt="new image preview">
                <input type="text" name="description" placeholder="description" autocomplete="off">
                <div>
                    <button>Cancel</button>
                    <input type="submit" value="Add Image">
                </div>
            </form>
        </div>
    </div>
    <script>
      var recipe_gallery = document.querySelector('#recipe-gallery');
      var focused_image = recipe_gallery.querySelector('div:nth-child(1) > img');
      recipe_gallery.querySelectorAll('div:nth-child(2) > img:not(#add-image)').forEach((image) => {
        image.addEventListener('click', (e) => {
            focused_image.src = e.target.src;
            focused_image.alt = e.target.alt;
            recipe_gallery.querySelectorAll('div:nth-child(2) > img').forEach((image) => {
                image.style.border = "none";
                image.style.filter = "brightness(.9)";
            })
            e.target.style.border = "2px solid black";
            e.target.style.filter = "brightness(1)";
        })
      })

      var imageForm = document.querySelector('form');
      var imageModal = document.querySelector('#new-image-modal');
      var imageInput = imageForm.querySelector('#new-img');
      document.querySelector('#add-image').addEventListener('click', () => {
        imageInput.click();
      })
      imageInput.addEventListener('change', (e) => {
        imageModal.style.display = 'block';
        var files = e.target.files;
        var done = function (url) {
            imageForm.querySelector('img').src = url;
        }
        if (files && files.length > 0) {
            file = files[0];
        }
        if (URL) {
            done(URL.createObjectURL(file));
        } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
                done(reader.result);
            };
            reader.readAsDataURL(file);
        }
      })
      imageForm.querySelector("button").addEventListener('click', (e) => {
        e.preventDefault();
        imageInput.value = null;
        imageModal.style.display = 'none';
      })
    </script>
{% endblock %}