{% extends "base.html" %}
{% load static %}
{% block title %}{{recipe.name}} Recipe{% endblock %}
{% block body %}
    <a href="{% url 'index' %}" class="nav-link">< Go back</a>
    <h1>{{recipe.name}}</h1>
    <table>
        {% if ingredients %}
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
            </tr>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ingredient.Ingredient.name}}</td>
                    <td>
                        {% if ingredient.Quantity %}
                            {{ingredient.Quantity}}
                        {% else %}
                            -----
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h3>Sorry, this recipe doesn't have ingredients yet.</h3>
        {% endif %}
    </table>
{% endblock %}