{% extends "base.html" %}
{% load static %}
{% block title %}{{ recipe.name }} Recipe{% endblock %}
{% block body %}
    <a href="{% url 'index' %}" class="nav-link">< Go back</a><h3>Recipe Details</h3>
    <h1>{{ recipe.name }}</h1>
    <p>by {{ recipe.author.name }}</p>
    <div id="recipe-info-container">
        <div id="recipe-gallery">
            {% if recipe.images %}
                <div>
                    <img src="{{ recipe.images.first.image.url }}" alt="{{ recipe.images.first.description }}">
                </div>
                <div>
                    {% for image in recipe.images.all %}
                        <img src="{{ image.image.url }}" alt="{{ image.description }}">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <table>
                {% if ingredients %}
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                    </tr>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.ingredient.name }}</td>
                            <td>
                                {% if ingredient.quantity %}
                                    {{ ingredient.quantity }}
                                {% else %}
                                    -----
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h3>Sorry, this recipe doesn't have ingredients yet.</h3>
                {% endif %}
            </table>
        </div>
    </div>
    <script>
      var recipe_gallery = document.querySelector('#recipe-gallery');
      var focused_image = recipe_gallery.querySelector('div:nth-child(1) > img')
      recipe_gallery.querySelectorAll('div:nth-child(2) > img').forEach((image) => {
        image.addEventListener('click', (e) => {
            focused_image.src = e.target.src
        })
      })
    </script>
{% endblock %}